* {
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 80%;
}
body {
  margin: 0;
}
.main-layout {
  background-color: #eeeff1;
  padding-top: 271px;
  padding-bottom: 143px;
  overflow: hidden;
}
.main-layout-left {
  float: left;
  width: 50%;
  text-align: center;
}
.main-layout-right {
  float: left;
  width: 50%;
}
.main-layout-title {
  font-size: 48px;
  margin-bottom: 60px;
  color: #000000;
  line-height: 1;
  margin-top: 0;
}
.main-layout-text {
  font-size: 16px;
  margin-bottom: 60px;
  color: #727272;
}
.main-layout-button {
  text-align: center;
  width: 222px;
  background-color: #34547a;
  color: #ffffff;
  padding-bottom: 28px;
  padding-top: 28px;
}
.about-title {
  font-size: 32px;
  text-align: center;
  color: #000000;
}
.about {
  padding-top: 14px;
  padding-bottom: 100px;
  padding-top: 125px;
}
.about-description {
  font-size: 16px;
  text-align: center;
  color: #727272;
  width: 60%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 100px;
}
.numbers {
  background-color: #34547a;
  padding-top: 95px;
  padding-bottom: 95px;
  text-align: center;
  overflow: hidden;
}
.numbers-item {
  width: 15%;
  float: left;
}
.numbers-project {
  float: left;
  width: 50%;
  text-align: center;
}
.numbers-group {
  float: left;
  width: 50%;
  text-align: center;
}

.group-title {
  color: white;
  font-size: 21px;
  text-align: left;
}
.group-name {
  color: white;
  font-size: 16px;
  text-align: left;
}
.skills {
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
}
.skills-list {
  float: left;
  width: 50%;
}
.skills-title {
  font-size: 32px;
  color: black;
  padding-bottom: 50px;
}
.skills-adobe {
  font-size: 16px;
  color: #727272;
  padding-bottom: 20px;
  padding-top: 30px;
}
.skills-rectangle {
  width: 445px;
  height: 4px;
  background-color: #c4c4c4;
}
.rectangle-color {
  width: 349.36px;
  height: 4px;
  background-color: #34547a;
}

.skills-foto {
  float: left;
  width: 50%;
  text-align: right;
}
.skills-foto-size {
  width: 555px;
}
.video {
  background-color: #eeeff1;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
}
.video-title {
  font-size: 32px;
  text-align: center;
  color: #000000;
}
.video-description {
  font-size: 16px;
  text-align: center;
  color: #727272;
  width: 60%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 55px;
}
.rectangle-video {
  background-image: url("img/rectangle-video.png");
  text-align: center;
  padding-top: 245px;
  padding-bottom: 245px;
}
.projects {
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 0px;
}
.item-image{
  width: 25%;
  height: 480px;
  float: left;
  transition: 1s all linear;
}

  .item-image:hover{
    box-shadow: inset 0 0 0 1000px rgba(52, 84, 122, 0.8);
  }

.item-text{
  background-image: url("img/text.png");
}
.item-lapt{
  background-image: url("img/lapt.png");
}
.clients {
  padding-top: 90px;
  padding-bottom: 100px;
  overflow: hidden;
  text-align: center;
}
.photo-clients {
  width: 25%;
  float: left;
}
.photo-clients-size {
  width: 255px;
}
.form {
  background-color: #eeeff1;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
}
.form-title {
  font-size: 32px;
  text-align: center;
  color: #000000;
}
.form-description {
  font-size: 16px;
  text-align: center;
  color: #727272;
  width: 60%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 60px;
}
.user {
  text-align: center;
  overflow: hidden;
  width: 540px;
  margin: 0 auto;
}
.user-name{
  float: left;
}
.form-name {
  width: 250px;
  height: 50px;
  background: #ffffff;
  color: #5f5d5d;
  margin-right: 40px;
  float: left;
}
.form-email {
  width: 250px;
  height: 50px;
  background: #ffffff;
  color: #5f5d5d;
  float: left;
}
.message {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
}
.form-text {
  width: 540px;
  height: 175px;
  background: #ffffff;
}
.form-knopka {
  width: 190px;
  height: 55px;
  background: #34547a;
  color: #ffffff;
}
.form-button {
  text-align: center;
}
.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #34547a;
  overflow: hidden;
}
.footer-name {
  float: left;
}
.footer-name-title {
  font-size: 21px;
  color: #ffffff;
}
.footer-name-description {
  font-size: 13px;
  color: #ffffff;
  padding-top: 20px;
}
.image-vk {
  text-align: right;
}
.vk {
  text-align: right;
  float: right;
  padding-right: 20px;
}
.placeholder {
  font-size: 14px;
  color: #5f5d5d;
}

.first-screen{
  position: fixed;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: #eeeff1;
}
.wd{
  padding-top: 60px;
  float: left;
  width: 50%;
}
.home{
  width: 50%;
  float: left;
}
.home-text{
  padding-top: 70px;
  float: left;
  text-align: right;
  width: 20%;
  font-size: 16px;
}

@media (max-width: 1024px) {
  .laptop {
    width: 80%;
  }
  .main-layout-button {
    padding: 10px 0;
  }
  .home-text{
    font-size: 10px;
  }
  .skills-rectangle {
    width: 85%;
  }
   .rectangle-color {
     width: 70%;
   }
  .skills-foto-size {
    width: 80%;
  }
  .skills-title {
    font-size: 25px;
    padding-bottom: 20px
  }
  .skills-adobe {
    font-size: 12px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}