* {
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 80%;
}
body {
  margin: 0;
}
.main-layout {
  background-color: #eeeff1;
  padding-top: 271px;
  padding-bottom: 143px;
  overflow: hidden;
}
.main-layout-left {
  float: left;
  width: 50%;
  text-align: center;
}
.main-layout-right {
  float: left;
  width: 50%;
}
.main-layout-title {
  font-size: 48px;
  margin-bottom: 60px;
  color: #000000;
  line-height: 1;
  margin-top: 0;
}
.main-layout-text {
  font-size: 16px;
  margin-bottom: 60px;
  color: #727272;
}
.main-layout-button {
  text-align: center;
  width: 222px;
  background-color: #34547a;
  color: #ffffff;
  padding-bottom: 28px;
  padding-top: 28px;
}
.about-title {
  font-size: 32px;
  text-align: center;
  color: #000000;
}
.about {
  padding-top: 14px;
  padding-bottom: 100px;
  padding-top: 125px;
}
.about-description {
  font-size: 16px;
  text-align: center;
  color: #727272;
  width: 60%;
  margin: 0 auto;
  padding-top: 40px;
}
.numbers {
  background-color: #34547a;
  padding-top: 95px;
  padding-bottom: 95px;
  text-align: center;
  overflow: hidden;
}
.numbers-item {
  width: 15%;
  float: left;
}
.numbers-project {
  float: left;
  width: 50%;
  text-align: center;
}
.numbers-group {
  float: left;
  width: 50%;
  text-align: center;
}

.group-title {
  color: white;
  font-size: 21px;
  text-align: left;
}
.group-name {
  color: white;
  font-size: 16px;
  text-align: left;
}
.skills {
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
}
.skills-list {
  float: left;
  width: 50%;
}
.skills-title {
  font-size: 32px;
  color: black;
  padding-bottom: 50px;
}
.skills-adobe {
  font-size: 16px;
  color: #727272;
  padding-bottom: 20px;
  padding-top: 30px;
}
.skills-rectangle {
  width: 445px;
  height: 4px;
  background-color: #c4c4c4;
}
.rectangle-color {
  width: 349.36px;
  height: 4px;
  background-color: #34547a;
}

.skills-foto {
  float: left;
  width: 50%;
  text-align: right;
}
.skills-foto-size {
  width: 555px;
}
.video {
  background-color: #eeeff1;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
}
.video-title {
  font-size: 32px;
  text-align: center;
  color: #000000;
}
.video-description {
  font-size: 16px;
  text-align: center;
  color: #727272;
  width: 60%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 55px;
}
.rectangle-video {
  background-image: url("img/rectangle-video.png");
  text-align: center;
  padding-top: 245px;
  padding-bottom: 245px;
  background-size: cover;
}
.projects {
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 0px;
}
.item-image {
  width: 25%;
  height: 480px;
  float: left;
  transition: 1s all linear;
}

.item-image:hover {
  box-shadow: inset 0 0 0 1000px rgba(52, 84, 122, 0.8);
}

.item-text {
  background-image: url("img/text.png");
  background-size: cover;
}
.item-lapt {
  background-image: url("img/lapt.png");
  background-size: cover;
}
.clients {
  padding-top: 90px;
  padding-bottom: 100px;
  overflow: hidden;
  text-align: center;
}
.photo-clients {
  width: 25%;
  float: left;
}
.photo-clients-size {
  width: 255px;
}
.form {
  background-color: #eeeff1;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
}
.form-title {
  font-size: 32px;
  text-align: center;
  color: #000000;
}
.form-description {
  font-size: 16px;
  text-align: center;
  color: #727272;
  width: 60%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 60px;
}
.user {
  text-align: center;
  overflow: hidden;
  width: 540px;
  margin: 0 auto;
}
.user-name {
  float: left;
}
.form-name {
  width: 250px;
  height: 50px;
  background: #ffffff;
  color: #5f5d5d;
  margin-right: 40px;
  float: left;
}
.form-email {
  width: 250px;
  height: 50px;
  background: #ffffff;
  color: #5f5d5d;
  float: left;
}
.message {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
}
.form-text {
  width: 540px;
  height: 175px;
  background: #ffffff;
}
.form-knopka {
  width: 190px;
  height: 55px;
  background: #34547a;
  color: #ffffff;
}
.form-button {
  text-align: center;
}
.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #34547a;
  overflow: hidden;
}
.footer-name {
  float: left;
}
.footer-name-title {
  font-size: 21px;
  color: #ffffff;
}
.footer-name-description {
  font-size: 13px;
  color: #ffffff;
  padding-top: 20px;
}
.image-vk {
  text-align: right;
}
.vk1 {
  text-align: right;
  float: right;
  padding-right: 20px;
}
.vk2 {
  text-align: right;
  float: right;
  padding-right: 20px;
}
.vk3 {
  text-align: right;
  float: right;
  padding-right: 20px;
}
.placeholder {
  font-size: 14px;
  color: #5f5d5d;
}

.first-screen {
  position: fixed;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: #eeeff1;
}
.wd {
  padding-top: 60px;
  float: left;
  width: 50%;
}
.home {
  width: 50%;
  float: left;
}
.home-text {
  padding-top: 70px;
  float: left;
  text-align: right;
  width: 20%;
  font-size: 16px;
}

@media (max-width: 1024px) {
  .laptop {
    width: 80%;
  }
  .main-layout-button {
    padding: 10px 0;
  }
  .home-text {
    font-size: 10px;
  }
  .skills-rectangle {
    width: 85%;
  }
  .rectangle-color {
    width: 70%;
  }
  .skills-foto-size {
    width: 80%;
  }
  .skills-title {
    font-size: 25px;
    padding-bottom: 20px;
  }
  .skills-adobe {
    font-size: 12px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .photo-clients-size {
    width: 92%;
  }
  .item-image {
    width: 25%;
    height: 256px;
  }
}
@media (max-width: 768px) {
  .main-layout {
    padding-top: 160px;
    padding-bottom: 10px;
  }
  .main-layout-title {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .main-layout-text {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .main-layout-button {
    width: 170px;
  }
  .about {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .about-title {
    font-size: 25px;
  }
  .about-description {
    font-size: 14px;
    padding-top: 20px;
  }
  .numbers {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .skills {
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 45px;
  }
  ..skills-adobe {
    padding-top: 11px;
  }
  .video {
    padding-top: 30px;
    padding-bottom: 45px;
  }
  .numbers-item {
    width: 33%;
    float: left;
  }
  .numbers {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .skills-adobe {
    padding-top: 10px;
  }
  .video-title {
    font-size: 30px;
  }
  .video-description {
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 14px;
  }
  .rectangle-video {
    padding-top: 25%;
    padding-bottom: 25%;
  }
  .item-image {
    height: 185px;
  }
  .clients {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .form {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .form-title {
    font-size: 30px;
  }
  .form-description {
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .user {
    width: 420px;
  }
  .form-name {
    width: 200px;
    height: 40px;
    margin-right: 20px;
  }
  .form-email {
    width: 200px;
    height: 40px;
  }
  .message {
    padding-bottom: 25px;
  }
  .form-text {
    width: 420px;
  }
  .form-knopka {
    width: 160px;
    height: 40px;
  }
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer-name-title {
    font-size: 18px;
  }
  .footer-name-description {
    font-size: 12px;
    padding-top: 10px;
  }
  .wd {
    padding-top: 25px;
  }
  .home-text {
    padding-top: 40px;
  }
}
@media (max-width: 425px) {
  .main-layout {
    padding-top: 90px;
    padding-bottom: 10px;
  }
  .main-layout-left {
    float: none;
    width: 100%;
  }
  .laptop {
    width: 60%;
  }
  .main-layout-right {
    width: 100%;
    text-align: center;
  }
  .main-layout-title {
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .main-layout-button {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  .about-description {
    padding-top: 10px;
    width: 100%;
  }
  .numbers-item {
    width: 50%;
  }
  .skills-title {
    font-size: 20px;
    padding-bottom: 10px;
  }
  .skills-title {
    font-size: 22px;
    padding-bottom: 5px;
  }
  .skills-adobe {
    padding-top: 4px;
    font-size: 11px;
    padding-bottom: 5px;
  }
  .skills-foto-size {
    width: 100%;
  }
  .group-title {
    font-size: 18px;
  }
  .group-name {
    font-size: 14px;
  }
  .video-title {
    font-size: 25px;
  }
  .video-description {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
  }
  .video {
    padding-top: 20px;
    padding-bottom: 25px;
  }
  .item-image {
    height: 75px;
  }
  .clients {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .form-title {
    font-size: 25px;
  }
  .form-description {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
  }
  .user {
    width: 250px;
  }
  .form-name {
    width: 120px;
    height: 35px;
    margin-right: 10px;
  }
  .form-email {
    width: 120px;
    height: 35px;
  }
  .message {
    padding-bottom: 20px;
    padding-top: 10px;
  }
  .form-text {
    width: 250px;
    height: 100px;
  }
  .form {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .vk2 {
    display: none;
  }
  .vk3 {
    display: none;
  }
  .wd-size {
    width: 30%;
  }
  .wd {
    width: 35%;
  }
  .home-text {
    width: 65%;
  }
  .home-text {
    padding-top: 0px;
    font-size: 8px;
    width: 33%;
  }
  .menu {
    display: none;
  }
}
